@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    box-sizing: border-box;
    user-select: none;
}
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#log {
    color: red;
    font-size: 30px;
}

#calc-body {
    display: flex;
    width: 800px;
    height: 700px;
    background-color: rgb(21, 21, 21);
    border: 2px, rgb(176, 114, 0), solid;
}

.v-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#nameplate {
    display: flex;
    max-height: 5%;
    border: 2px, rgb(176, 114, 0), solid;
    justify-content: center;
    align-items: center;
}

#nameplate h1 {
    font-size: 100%;
    font-weight: 700;
}

#output {
    display: flex;
    align-items: center;
    min-height: 15%;
    background-color: black;
    padding-inline: 10px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#memory {
    min-height: 10%;
}

#left-inputs {
    width: 75%;
}

#operators {
    width: 25%;
    height: 100%;
}

#misc {
    width: 100%;
    height: 20%;
}

#numbers {
    width: 100%;
    height: 80%;
}

#output div {
    width: 100%;
    height: 40px;
    text-align: end;
    font-size: 30px;
    padding: 0px;
    user-select: text;
    white-space: nowrap;
    scroll-snap-align: end;
}

#input {
    border: 2px, rgb(176, 114, 0), solid;
}

button {
    background-color: rgb(176, 114, 0);
    font-size: 50px;
}

.input-buttons {
    display: flex;
    flex-wrap: wrap;
}

#memory-container {
    display: flex;
    justify-content: space-between;
}

.memory {
    display: flex;
}

.memory button {
    height: 100%;
    margin: 0px;
}

#misc > button {
    width: 50%;
    height: 100%;
    margin: 0px;
}

#numbers > button {
    width: 33.33%;
    width: calc(100% / 3);
    height: 25%;
    margin: 0px;
}

#operators > button {
    width: 100%;
    height: 20%;
    margin: 0px;
}