@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: 1px, red, solid;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

#calc-body {
    display: flex;
    width: 500px;
    height: 700px;
}

.v-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.h-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#nameplate {
    min-height: 5%;
}

#output {
    display: flex;
    align-items: center;
    min-height: 15%;
}

#memory {
    min-height: 10%;
}

#left-inputs {
    width: 75%;
}

#operators {
    width: 25%;
    height: 100%;
}

#misc {
    width: 100%;
    height: 20%;
}

#numbers {
    width: 100%;
    height: 80%;
}

#output div {
    width: 100%;
    height: 50px;
    text-align: end;
    font-size: 50px;
    padding: 0px;
}